<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
</head>
<body>
    <h1>WebSocket Chat</h1>
    <h2>Your ID: <span id="ws-id"></span></h2>
    <form action="" onsubmit="sendMessage(event)">
        <input type="text" id="messageText" autocomplete="off"/>
        <button>Send</button>
    </form>
    <ul id='messages'></ul>
    <script>

        async function connectWebSocket() {
            // Fetch WebSocket URL from the server
            const response = await fetch('http://localhost:8000/chat/ws', {
                method: 'GET',
                credentials: 'include',  // Include cookies in the request
            });
            const wsUrl = await response.text();
            const ws = new WebSocket(wsUrl);

            // Fetch and append last messages
            const lastMessages = await fetchLastMessages();
            lastMessages.forEach(message => {
                appendMessage(message.message)
            });

            // Event listener for incoming messages
            ws.onmessage = function (event) {
                appendMessage(event.data);
            };

            // Event listener for form submission
            function sendMessage(event) {
                const input = document.getElementById('messageText');
                ws.send(JSON.stringify({ user_id: client_id, message: input.value }));
                input.value = '';
                event.preventDefault();
            }
        }

        async function fetchLastMessages() {
            const response = await fetch('http://localhost:8000/chat/last_messages', {
                method: 'GET'
            });
            return response.json();
        }

        function appendMessage(msg) {
            const messages = document.getElementById('messages');
            const message = document.createElement('li');
            const content = document.createTextNode(msg);
            message.appendChild(content);
            messages.appendChild(message);
        }

        let client_id = Date.now();
        document.querySelector("#ws-id").textContent = client_id;
        connectWebSocket();
    </script>
</body>
</html>
